*.iml
.cache
.calva/
*jar
.classpath
.lein-deps-sum
.lein-failures
.project
/bin/
/classes/
/lib/
pom.xml*
/.settings/
/target
/.idea
/_site
native-test-0.0.1-standalone
native-test-0.0.1-standalone.build_artifacts.txt
target
.lein-repl-history
/wiki/.git
